services:
  db:
    image: postgres:17
    container_name: order-db
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app_password
      POSTGRES_DB: orders
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: .
    container_name: order-api
    environment:
      DATABASE_URL: postgresql+psycopg://app:app_password@db:5432/orders
      SECRET_KEY: change_me_later
    ports:
      - "8000:80"
    depends_on:
      - db

volumes:
  pgdata:
