apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  namespace: order
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
        - name: postgres
          image: postgres:17
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: app
            - name: POSTGRES_PASSWORD
              value: app_password
            - name: POSTGRES_DB
              value: orders
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
              subPath: pgdata
      volumes:
        - name: data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: db
  namespace: order
spec:
  selector:
    app: db
  ports:
    - port: 5432
      targetPort: 5432

